
/* Wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    padding: 100px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Heading styles */
h2, h3, h4, h5, h6 {
    color: black;
    text-transform: uppercase;
}

/* Style to hide unwanted headings */
.hidden-heading {
    display: none;
}

/* Style to remove underline from hyperlinks */
a {
    text-decoration: none;
}

header {
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
    left: 0;
    line-height: 1em;
}

/* Logo main heading styles */
h1 {
    color: darksalmon;
    text-transform: uppercase;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.5em;
    color:darksalmon
}

#logo-skin {
    font-size: 140%;
    text-align: center;
    letter-spacing: 0.2rem;
    color: darksalmon;
}

#logo-lab {
    font-size: 190%;
    padding-top: 0.1em;
    letter-spacing: 0.1rem;
}