
/* Wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    padding: 100px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Heading styles */
h2, h3, h4, h5, h6 {
    color: black;
    text-transform: uppercase;
}

/* Style to hide unwanted headings */
.hidden-heading {
    display: none;
}

/* Style to remove underline from hyperlinks */
a {
    text-decoration: none;
}

header {
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
    left: 0;
    line-height: 1em;
}

/* Logo main heading styles */
h1 {
    color: darksalmon;
    text-transform: uppercase;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.5em;
    color:darksalmon
}

#logo-skin {
    font-size: 140%;
    text-align: center;
    letter-spacing: 0.2rem;
    color: darksalmon;
}

#logo-lab {
    font-size: 190%;
    padding-top: 0.1em;
    letter-spacing: 0.1rem;
}

/* Nav links */
header a {
    text-decoration: none;
    color: #000000;
}

/* Dropdown menu */
#menu {
    font-size: 70%;
    text-align: center;
    top: 25px;
    right: 0;
    letter-spacing: 3px;
    list-style-type: none;
    position: absolute;
    float: none;
    padding: 1px 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Positioning */
#menu > li {
    margin-bottom: 1em;
    padding: 0;
}

.nav-dropdown-singular {
    display: flex;
    align-items: center;
}

/* Active page highlighter */
.active {
    color: red;
    padding: 3px;
    border-radius: 50%;
}

/* Nav bar styles with dropdown toggle */
#navbar {
    position: absolute;
    right: 0;
    padding: 0 .25rem;
    display: none;
    top: 25px;
}

nav>li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 10px;
    width: 100%;
}

#navbar a {
    text-transform: uppercase;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 20px;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    max-width: fit-content;
    max-height: fit-content;
}

#nav-toggle {
    display: none;
}

/* Hamburger icon */
.nav-toggle-label {
    font-size: 1.5em;
    position: relative;
    vertical-align: middle;
    top: 15px;
    right: 15px;
    color: #ffffff;
}